[user]
	name = Miguel Anguita Miron
  	email = miguel.anguita@gft.com
#	signingkey = F6E9218D0B7A0CD9

[includeIf "gitdir:~/Git/mik/"]
    path = ~/Git/mik/.mikconfig

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.dotfiles/git/mik/.mikconfig

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = vim
[help]
	autocorrect = 1

[diff]
	tool = vimdiff
	compactionHeuristic = true
	indentHeuristic = true

[difftool]
	prompt = false

[credential]
	helper = store

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[commit]
	gpgsign = false

[tag]
	gpgsign = false

[gpg]
	program = /usr/local/bin/gpg



[http]
	sslVerify = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
